[submodule "blog/themes/hugo-notepadium-mod"]
	path = blog/themes/hugo-notepadium-mod
	url = https://github.com/qdzhang/hugo-notepadium-mod.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
