<h3>Commit list</h3>
<ul class="list-group" id="commitList">
    {{#commits}}
    <li class="list-group-item">
        <small>
            <a class="text-muted" href="#!{{html_url}}">{{commit.message}}</a>
            <a target="_blank" href="{{html_url}}"><span class="nav-link fa fa-github"></span> </a>
        </small>
    </li>
    {{/commits}}
</ul>