<input class="search form-control" placeholder="Search" />
<div class="list list-group" id="commitList">
    {{#commits}}
        <div class="list-group-item" id="pull-id-{{id}}">
            <a target="_blank" href="{{html_url}}"><span class="nav-link fa fa-github"></span> </a>
            <a class="message" href="#!{{html_url}}">
                <small>{{title}}</small>
            </a>
        </div>
    {{/commits}}
</div>